{
  "world": {
    "coarse_size": 32,
    "coarse_scale": 30,
    "coarse_h": 0.95,
    "octaves": 6,
    "persistence": 0.5,
    "maze": {
    },
    "ground": {
      "size": 256,
      "scale": 1,
      "height": 30,
      "octaves": 6
    }
  },
  
  "player": {
    "sensitivity": 10,
    "speed": 100
  },
  
  "view": {
    "fov": 50,
    "near": 1,
    "far": 1000,
    "game_mode": false,
    "window_width": 1152,
    "window_height": 768
  },
  
  "controller": {
  }
}
