{
  "fov": 50,
  "game_mode": false,
  "window_width": 1152,
  "window_height": 768,
  "world": {
    "coarse_size": 32,
    "coarse_scale": 30,
    "coarse_h": 0.95,
    "octaves": 6,
    "persistence": 0.5,
    "maze": {
    },
    "ground": {
      "size": 16,
      "height": 20
    },
    "ceiling": {
    }
  }
}
