{
  "world": {
    "maze": {
      "size": 16,
      "scale": 50,
      "y_scale": 1.4,
      "num_runners": 5,
      "special_chance": 0.8,
      "dead_end_chance": 0.05,
      "disp_map": {
        "octaves": 8,
        "persistence": 0.5,
        "res": 8,
        "dist": 20
      },
      "tex_map": {
        "octaves": 16,
        "persistence": 0.9,
        "horiz_res": 256,
        "vert_res": 16,
        "variability": 0.5
      }
    },
    "ground": {
      "size": 256,
      "scale": 1,
      "height": 20,
      "octaves": 6
    }
  },
  
  "player": {
    "sensitivity": 10,
    "speed": 100,
    "robot": {
      "sensitivity": 2,
      "speed": 50
    }
  },
  
  "view": {
    "fov": 50,
    "near": 1,
    "far": 10000,
    "game_mode": false,
    "window_width": 1152,
    "window_height": 768
  },
  
  "controller": {
  }
}
